# Object files
*.o
*.ko
*.obj
*.elf
*._mutex_pthread_o

#Precompiled Headers
*.gch
*.pch

#Librairies
*.lib
*.a
*.la
*.lo

#Java compiled files
*.class

#conf files
Driver/etc/*.conf

#build directories
*/build/
*.dSYM/

#Module files
*.xmod

#Executables
Driver/bin/ompcc
Driver/bin/ompf90
Driver/bin/xmpcc
Driver/bin/xmpf90
C-FrontEnd/src/C_Front
F-FrontEnd/src/F_Front
Driver/libexec/omni_traverse
Driver/src/om_replace_pragma

#Generated Makefiles
Makefile
C-BackEnd/Makefile
C-FrontEnd/src/Makefile
F-BackEnd/Makefile
F-FrontEnd/src/Makefile
libompc/src/Makefile
libxmp/src/Makefile

#Generated headers or codes
C-FrontEnd/src/c-lexer.c
include/config.h
include/stamp-h1
libxmpf/include/xmp_coarray_alloc.h
libxmpf/include/xmp_coarray_get.h
config.log
config.status

C-FrontEnd/src/c-exprcode.c

C-FrontEnd/src/c-exprcode.h

C-FrontEnd/src/c-parser.c

C-FrontEnd/src/c-parser.h

C-FrontEnd/src/c-token.c
