Source: omni-compiler
Section: devel
Priority: extra
Maintainer: Hitoshi Murai <h-murai@riken.jp>
Build-Depends:
Standards-Version: 0.9.1
Homepage: http://omni-compiler.org/

Package: omni-compiler
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-7-jdk, libopenmpi-dev, openmpi-bin, gfortran
Description: Omni OpenMP/XcalableMP/OpenACC Compilers
